# <b> <font color='red'>  Project in Data Science </font> </b>

## Analysing NBA historical data to discover patterns that should be adopted by franchises to succeed

#### <b>Andreas Neocleous
a.neocleous12@hotmail.com
</b>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

### Scraping as a test from hoopshype site

In [2]:
url="https://hoopshype.com/salaries/players/"

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')

In [3]:
length=len(salary_table.find_all("td"))

player_names=[salary_table.find_all("td")[i].text.strip() for i in range(9,length,8)]

column1=[salary_table.find_all("td")[i].text.strip() for i in range(10,length,8)]
column2=[salary_table.find_all("td")[i].text.strip() for i in range(11,length,8)]
column3=[salary_table.find_all("td")[i].text.strip() for i in range(12,length,8)]
column4=[salary_table.find_all("td")[i].text.strip() for i in range(13,length,8)]
column5=[salary_table.find_all("td")[i].text.strip() for i in range(14,length,8)]
column6=[salary_table.find_all("td")[i].text.strip() for i in range(15,length,8)]

In [4]:
df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_df=pd.DataFrame(df_dict)
salary_df[:5]

        player_names   salary ($)
0      Stephen Curry  $45,780,966
1          John Wall  $44,310,840
2       James Harden  $44,310,840
3  Russell Westbrook  $44,211,146
4       Kevin Durant  $42,018,900

### Transform salaries to numeric values

In [5]:
salary_df.replace({'\$':''}, regex = True,inplace=True)
salary_df.replace(',','', regex=True, inplace=True)

for item in salary_df.columns[1:]:
    
    salary_df[item]=pd.to_numeric(salary_df[item])
    
salary_df[:5]

        player_names  salary ($)
0      Stephen Curry    45780966
1          John Wall    44310840
2       James Harden    44310840
3  Russell Westbrook    44211146
4       Kevin Durant    42018900

### Creating arrays of years and team names in order to feed them as f string to for loops which is going to create for us all the DataFrames we need

In [6]:
years=[]
for i in range(2020,2000,-1):
    years.append(f"{i}-{i+1}")

team_names = ["portland_trail_blazers","oklahoma_city_thunder","los_angeles_clippers","cleveland_cavaliers","philadelphia_76ers",
              "miami_heat","golden_state_warriors","denver_nuggets","houston_rockets","orlando_magic",
              "los_angeles_lakers","milwaukee_bucks","toronto_raptors","washington_wizards","dallas_mavericks",
              "san_antonio_spurs","utah_jazz","brooklyn_nets","new_orleans_pelicans","boston_celtics",
              "minnesota_timberwolves","sacramento_kings","indiana_pacers","chicago_bulls","atlanta_hawks",
              "detroit_pistons","new_york_knicks","phoenix_suns","memphis_grizzlies","charlotte_hornets"]            
              
print(years)
print(team_names)
print(len(years))
print(len(team_names))

['2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017', '2015-2016', '2014-2015', '2013-2014', '2012-2013', '2011-2012', '2010-2011', '2009-2010', '2008-2009', '2007-2008', '2006-2007', '2005-2006', '2004-2005', '2003-2004', '2002-2003', '2001-2002']
['portland_trail_blazers', 'oklahoma_city_thunder', 'los_angeles_clippers', 'cleveland_cavaliers', 'philadelphia_76ers', 'miami_heat', 'golden_state_warriors', 'denver_nuggets', 'houston_rockets', 'orlando_magic', 'los_angeles_lakers', 'milwaukee_bucks', 'toronto_raptors', 'washington_wizards', 'dallas_mavericks', 'san_antonio_spurs', 'utah_jazz', 'brooklyn_nets', 'new_orleans_pelicans', 'boston_celtics', 'minnesota_timberwolves', 'sacramento_kings', 'indiana_pacers', 'chicago_bulls', 'atlanta_hawks', 'detroit_pistons', 'new_york_knicks', 'phoenix_suns', 'memphis_grizzlies', 'charlotte_hornets']
20
30

### Create a testing DataFrame by using f-strings

In [7]:
url=f"https://hoopshype.com/salaries/{team_names[0]}/{years[0]}/"
print(url)

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')



length=len(salary_table.find_all("td"))
player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]

df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_portland20_21=pd.DataFrame(df_dict)

https://hoopshype.com/salaries/portland_trail_blazers/2020-2021/

In [8]:
salary_portland20_21.replace({'\$':''}, regex = True,inplace=True)
salary_portland20_21.replace(',','', regex=True, inplace=True)

for item in salary_portland20_21.columns[1:]:
    
    salary_portland20_21[item]=pd.to_numeric(salary_df[item])
    
salary_portland20_21[:5]

       player_names  salary ($)
0    Damian Lillard    45780966
1       CJ McCollum    44310840
2      Jusuf Nurkic    44310840
3  Robert Covington    44211146
4     Norman Powell    42018900

### We are going to create a dictionary with keys being name of teams plus year using f-strings and their values will be their payroll as a DataFrame

In [9]:
payrolls_noPositions=dict()
counter=0
for i in range(0,len(team_names)):
    for j in range(0,len(years)):
        
        url = f"https://hoopshype.com/salaries/{team_names[i]}/{years[j]}/"
        
        salary_table = []
        try:
            r = requests.get(url,timeout=6)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        length=len(salary_table.find_all("td"))
        player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
        column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]
        
        
        salary_table = []
        try:
            r = requests.get(url,timeout=6)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        df_dict={'player_names':player_names,
                'salary ($)':column1}
        
        
        
        tempDataFrame=pd.DataFrame(df_dict)
        
        tempDataFrame.replace({'\$':''}, regex = True,inplace=True)
        tempDataFrame.replace(',','', regex=True, inplace=True)
        for item in tempDataFrame.columns[1:2]:
            tempDataFrame[item]=pd.to_numeric(tempDataFrame[item])
            
        counter=counter+1
        if counter%100==0 or counter==1:
            print(tempDataFrame)
            print(counter)
        payrolls_noPositions[f"{team_names[i]}{years[j]}"] = tempDataFrame

print(counter,len(payrolls_noPositions))

               player_names  salary ($)
0            Damian Lillard    31626953
1               CJ McCollum    29354152
2              Jusuf Nurkic    12888889
3          Robert Covington    12138345
4             Norman Powell    10865952
5             Derrick Jones     9258000
6              Zach Collins     5406255
7               Enes Kanter     5005350
8          Andrew Nicholson     2844429
9           Carmelo Anthony     2564753
10          Anfernee Simons     2252040
11            Nassir Little     2210640
12         Anderson Varejao     1913345
13              Harry Giles     1620564
14                CJ Elleby      898310
15  Rondae Hollis-Jefferson      502957
16           Keljin Blevins      449115
17                  TJ Leaf      104598
18                   Totals   131904647
1
Something wrong
         player_names  salary ($)
0     Dikembe Mutombo    14315790
1       Allen Iverson    11250000
2     Derrick Coleman     8710000
3         Matt Geiger     8142160
4         Aaron McKie     4000000
5           Eric Snow     3750000
6       Matt Harpring     1908401
7        Corie Blount     1609235
8      Speedy Claxton     1006200
9   Vonteego Cummings      810000
10   Samuel Dalembert      771480
11          Raja Bell      540850
12     Michael Ruffin      468297
13        Alvin Jones      332817
14       Damone Brown      332817
15          Tim James      105532
16         Ira Bowman       19787
17             Totals    58073366
100
         player_names  salary ($)
0          Grant Hill    10865250
1       Tracy McGrady    10865250
2   Darrell Armstrong     4005000
3        Jud Buechler     3600000
4     Andrew DeClercq     2900000
5         Mike Miller     2494080
6        Horace Grant     2419580
7       Patrick Ewing     2118420
8         Pat Garrity     1569691
9       Steven Hunter     1244880
10           Don Reid     1000000
11       Jeryl Sasser      901800
12     Monty Williams      778350
13       Laron Profit      630850
14        Troy Hudson      590850
15             Totals    45984001
200
        player_names  salary ($)
0       Juwan Howard    18750000
1     Michael Finley    10625000
2         Steve Nash     5750000
3      Shawn Bradley     4500000
4       Tim Hardaway     3360390
5     Evan Eschmeyer     3038000
6      Dirk Nowitzki     2157595
7      Muggsy Bogues     1520860
8      Danny Manning     1500000
9       Greg Buckner     1200000
10     Johnny Newman     1000000
11    Donnell Harvey      927360
12    Darrick Martin      778350
13    Adrian Griffin      565850
14        Leon Smith      517360
15    Eduardo Najera      465850
16    Khalid El-Amin      465850
17       Wang Zhizhi      465850
18         Omar Cook      292230
19  Ruben Wolkowyski       79535
20            Totals    57960080
300
        player_names  salary ($)
0     Antoine Walker    11250000
1     Kenny Anderson     8350000
2   Vitaly Potapenko     4762500
3      Eric Williams     4448000
4        Tony Battie     3600000
5     Walter McCarty     3125000
6        Randy Brown     2475000
7        Paul Pierce     2051271
8        Joe Johnson     1608840
9      Kedrick Brown     1528440
10    Roshown McLeod     1509001
11      Joseph Forte      939360
12      Milt Palacio      690000
13  Erick Strickland      637415
14       Mark Blount      540850
15            Totals    47515677
400
           player_names  salary ($)
0   Shareef Abdur-Rahim    11250000
1          Theo Ratliff     9667969
2            Toni Kukoc     7906783
3        Alan Henderson     6500312
4         Nazr Mohammed     4500000
5        Chris Crawford     2500000
6       DerMarr Johnson     2265240
7           Jason Terry     1689360
8           Cal Bowdler     1179720
9           Dion Glover     1027440
10        Emanual Davis      715850
11      Mark Strickland      715850
12        Jacque Vaughn      590850
13        Reggie Slater      523793
14        Hanno Mottola      465850
15      Dickey Simpkins       26190
16               Totals    51525207
500
         player_names  salary ($)
0      Elden Campbell     7975000
1      Jamal Mashburn     6975000
2            PJ Brown     6404800
3        Bobby Phills     5220000
4        David Wesley     3240000
5         Baron Davis     3119400
6      Robert Traylor     2793505
7        George Lynch     2400000
8       Stacey Augmon     2400000
9        Jerome Moiso     1571640
10         Bryce Drew     1300000
11       Matt Bullard     1300000
12  Eldridge Recasner     1300000
13        Kirk Haston     1182600
14    Jamaal Magloire     1048080
15          Tim James      837720
16         Lee Nailon      465850
17       Chris Porter      465850
18             Totals    49999445
600
600 600

### Know we are going to do the same but WITH the implementation of another column that will contain the position each player plays in

#### While running our program the first time it has been noticed that some data were problematic. It has been decided to drop those problematic data by throwing exceptions and keep track of the data we are not importing

In [10]:
payrolls=dict()
kickout=[]
dropped=[]
counter=0
for i in range(0,len(team_names)):
    for j in range(0,len(years)):
            
        counter=counter+1    
        problematic=False    
        url = f"https://hoopshype.com/salaries/{team_names[i]}/{years[j]}/"
        salary_table = []
        try:
            r = requests.get(url,timeout=10)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")
        length=len(salary_table.find_all("td"))
        player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
        column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]
        
        #Creating the new column for players position via entering each players personal URL in hoopshype
        column2 = []
        for k in range(0,len(player_names)):
            if k == len(player_names)-1:
                column2.append("NaN")
                break
            player_name_trans = player_names[k].replace(' ','-')
            url_player = f"https://hoopshype.com/player/{player_name_trans}/salary/"
            r = requests.get(url_player,timeout=10)
            r_html = r.text
            try:
                soup = BeautifulSoup(r_html, 'html.parser')
                htmlText = soup.find_all("span", class_="player-bio-text-line-value")
                positionString = str(htmlText[0])
                position = positionString.find(">")
                column2.append(positionString[position+1])
            except IndexError as e:
                    kickout.append(f"{team_names[i]}{years[j]}")
                    dropped.append(f"({i},{j})")
                    print(i,j)
                    problematic= True
                    break
            except AttributeError as e1:
                    kickout.append(f"{team_names[i]}{years[j]}")
                    dropped.append(f"({i},{j})")
                    print(i,j)
                    problematic= True
                    break
        if problematic==False:
            salary_table = []
            try:
                r = requests.get(url,timeout=10)
                r_html = r.text
                soup = BeautifulSoup(r_html, 'html.parser')
                salary_table = soup.find('table')
            except:
                print("Something wrong")

            df_dict={'player_names':player_names,
                    'salary ($)':column1,
                        'position':column2}



            tempDataFrame=pd.DataFrame(df_dict)

            tempDataFrame.replace({'\$':''}, regex = True,inplace=True)
            tempDataFrame.replace(',','', regex=True, inplace=True)
            for item in tempDataFrame.columns[1:2]:
                tempDataFrame[item]=pd.to_numeric(tempDataFrame[item])
            if counter%75==0 or counter==1:
                print(counter)
                print(tempDataFrame)
            payrolls[f"{team_names[i]}{years[j]}"] = tempDataFrame

1
               player_names  salary ($) position
0            Damian Lillard    31626953        G
1               CJ McCollum    29354152        G
2              Jusuf Nurkic    12888889        C
3          Robert Covington    12138345        F
4             Norman Powell    10865952        G
5             Derrick Jones     9258000        F
6              Zach Collins     5406255        C
7               Enes Kanter     5005350        -
8          Andrew Nicholson     2844429        -
9           Carmelo Anthony     2564753        F
10          Anfernee Simons     2252040        G
11            Nassir Little     2210640        F
12         Anderson Varejao     1913345        -
13              Harry Giles     1620564        -
14                CJ Elleby      898310        F
15  Rondae Hollis-Jefferson      502957        -
16           Keljin Blevins      449115        G
17                  TJ Leaf      104598        -
18                   Totals   131904647      NaN
0 14
0 18
0 19
1 12
1 14
2 8
2 9
2 11
2 12
2 14
2 15
3 3
3 8
3 9
3 10
3 11
3 13
75
           player_names  salary ($) position
0          Larry Hughes    13363012        -
1    Zydrunas Ilgauskas     9442697        -
2           Drew Gooden     6645402        -
3             Eric Snow     6093750        -
4          LeBron James     5828090        F
5      Donyell Marshall     5633037        -
6           Damon Jones     3884678        -
7            Ira Newble     3196050        -
8          Scot Pollard     2200000        -
9   Aleksandar Pavlovic     1962206        -
10         David Wesley     1750000        -
11        Shannon Brown      971280        -
12     Anderson Varejao      945600        -
13         Dwayne Jones      664209        -
14        Daniel Gibson      412718        -
15               Totals    62992729      NaN
3 18
4 3
4 7
4 8
4 13
4 15
4 19
5 13
5 14
5 19
6 4
6 5
6 6
6 9
6 11
6 14
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
8 2
8 3
8 4
8 8
8 11
8 16
8 17
8 18
8 19
9 12
9 17
10 4
10 7
10 15
10 19
225
             player_names  salary ($) position
0             Greg Monroe    17145838        C
1         Khris Middleton    15200000        F
2             John Henson    12267606        -
3         Mirza Teletovic    10500000        -
4     Matthew Dellavedova     9607500        -
5           Spencer Hawes     5782450        -
6           Jabari Parker     5374320        -
7           Larry Sanders     5000000        -
8   Giannis Antetokounmpo     2995420        F
9              Thon Maker     2568600        -
10             Tony Snell     2368327        F
11          Rashad Vaughn     1811040        -
12            Jason Terry     1551659        -
13            Steve Novak     1551659        -
14        Michael Beasley     1403611        -
15        Malcolm Brogdon      875000        G
16         Terrence Jones      156233        -
17           Axel Toupane       51449        -
18         Gary Payton II       35165        G
19                 Totals    96245877      NaN
11 7
11 9
11 10
12 9
12 10
12 11
12 12
12 13
12 14
12 15
12 16
12 17
12 18
12 19
13 5
13 6
13 7
13 8
13 18
13 19
14 7
14 8
14 10
14 19
15 10
15 12
15 13
15 17
15 19
16 15
16 16
17 2
17 3
17 9
17 13
17 18
17 19
18 3
18 9
18 11
18 12
18 13
18 14
18 18
19 2
19 6
19 12
20 18
20 19
21 9
21 13
21 14
21 15
21 16
21 17
21 18
21 19
450
        player_names  salary ($) position
0      Danny Granger    12015904        -
1         David West    10000000        -
2        James Posey     7595600        -
3        Jeff Foster     3000000        -
4      Dahntay Jones     2700000        -
5        Roy Hibbert     2588590        -
6        Paul George     2406240        F
7     Louis Amundson     2403000        -
8   Tyler Hansbrough     2138040        -
9        George Hill     2086360        G
10        Jeff Ayres     1500000        -
11   Darren Collison     1455960        -
12          AJ Price      854389        -
13  Lance Stephenson      810000        G
14            Totals    51554083      NaN
22 13
23 2
23 13
23 15
23 16
24 4
24 11
24 12
24 13
24 14
24 15
24 18
24 19
25 2
25 7
25 8
25 9
25 12
25 13
525
            player_names  salary ($) position
0        Carmelo Anthony    24559380        F
1           Derrick Rose    21323252        G
2            Joakim Noah    17000000        -
3           Courtney Lee    11242000        -
4           Lance Thomas     6191000        -
5       Brandon Jennings     4387318        -
6     Kristaps Porzingis     4317720        F
7           Kyle O'Quinn     3918750        -
8   Mindaugas Kuzminskas     2898000        -
9          Sasha Vujacic     1410598        -
10     Willy Hernangomez     1375000        C
11        Justin Holiday     1015696        G
12        Louis Amundson      980431        -
13             Ron Baker      543471        -
14      Marshall Plumlee      543471        -
15         Maurice Ndour      543471        -
16        Chasson Randle      243860        -
17             JP Tokoto      100000        -
18                Totals   102593418      NaN
26 5
26 6
26 7
26 11
26 17
26 18
26 19
27 8
27 9
27 10
27 12
27 13
27 14
27 15
27 16
27 17
27 19
28 0
28 1
28 2
28 11
28 13
28 14
28 15
29 8
29 9
29 10
29 11
29 12
29 13
29 14
29 15
29 16
29 19

In [14]:
print(len(payrolls),len(kickout),len(dropped))
print(kickout[20],dropped[20])

431 169 169
philadelphia_76ers2012-2013 (4,8)

##### Below we will print the same instance with and without the players position column by calling it in different payroll dictionary

In [15]:
payrolls["portland_trail_blazers2019-2020"]

        player_names  salary ($) position
0     Damian Lillard    29802321        G
1        CJ McCollum    27556959        G
2   Hassan Whiteside    27093018        C
3       Trevor Ariza    12200000        F
4       Jusuf Nurkic    12000000        C
5        Rodney Hood     5718000        F
6       Zach Collins     4240200        C
7    Carmelo Anthony     2159029        F
8    Anfernee Simons     2149560        G
9      Nassir Little     2105520        F
10    Caleb Swanigan     2033160        -
11     Mario Hezonja     1737145        -
12    Wenyen Gabriel     1445697        F
13     Gary Trent Jr     1416852        G
14      Jaylen Adams      163356        -
15       Moses Brown       79568        C
16      Jaylen Hoard       79568        F
17            Totals   131979953      NaN

In [16]:
payrolls_noPositions["portland_trail_blazers2019-2020"]

        player_names  salary ($)
0     Damian Lillard    29802321
1        CJ McCollum    27556959
2   Hassan Whiteside    27093018
3       Trevor Ariza    12200000
4       Jusuf Nurkic    12000000
5        Rodney Hood     5718000
6       Zach Collins     4240200
7    Carmelo Anthony     2159029
8    Anfernee Simons     2149560
9      Nassir Little     2105520
10    Caleb Swanigan     2033160
11     Mario Hezonja     1737145
12    Wenyen Gabriel     1445697
13     Gary Trent Jr     1416852
14      Jaylen Adams      163356
15       Moses Brown       79568
16      Jaylen Hoard       79568
17            Totals   131979953

### Now we are going to create lists that will represent each team's success. 
#### Any team will only be in one and only one list
#### Teams are split into:
        1) Champions: One team per year. Winners of the championship
        2) Top4: Teams that made it at least the semifinals but are not champions
        3) Decent: Teams that made the playoffs but didn't qualify to semifinals
        4) Mid-Tear: Teams that were on the top half of the regular season table if playoff teams were excluded
        5) Low-Tear: Teams that were on the bottom half of the regular season table if playoff teams were excluded

In [21]:
champions = ["milwaukee_bucks2020-2021", "los_angeles_lakers2019-2020", "toronto_raptors2018-2019", "golden_state_warriors2017-2018","golden_state_warriors2016-2017",
            "cleveland_cavaliers2015-2016", "golden_state_warriors2014-2015","san_antonio_spurs2013-2014","miami_heat2012-2013","miami_heat2011-2012",
            "dallas_mavericks2010-2011","los_angeles_lakers2009-2010","los_angeles_lakers2008-2009","boston_celtics2007-2008","san_antonio_spurs2006-2007",
            "miami_heat2005-2006","san_antonio_spurs2004-2005","detroit_pistons2003-2004","san_antonio_spurs2002-2003", "los_angeles_lakers2001-2002"]

top4 = ["phoenix_suns2020-2021","los_angeles_clippers2020-2021","atlanta_hawks2020-2021",
        "denver_nuggets2019-2020","boston_celtics2019-2020","miami_heat2019-2020",
        "milwaukee_bucks2018-2019","golden_state_warriors2018-2019","portland_trail_blayzers2018-2019",
        "houston_rockets2017-2018","cleveland_cavaliers2017-2018","boston_celtics2017-2018",
       "cleveland_cavaliers2016-2017","boston_celtics2016-2017","san_antonio_spurs2016-2017",
       "golden_state_warriors2015-2016","oklahoma_city_thunders2015-2016","toronto_raptors2015-2016",
       "cleveland_cavaliers2014-2015","atlanta_hawks2014-2015","houston_rockets2014-2015",
       "oklahoma_city_thunders2013-2014","indiana_pacers2013-2014","miami_heat2013-2014",
       "indiana_pacers2012-2013","san_antonio_spurs2012-2013","memphis_grizzlies",
       "oklahoma_city_thunders2011-2012","san_antonio_spurs2011-2012","boston_celtics2011-2012",
       "oklahoma_city_thunders2010-2011","miami_heat2010-2011","chicago_bulls2010-2011",
       "boston_celtics2009-2010","orlando_magic2009-2010","phoenix_suns2009-2010",
       "denver_nuggets2008-2009","orlando_magic2008-2009","cleveland_cavaliers2008-2009",
       "detroit_pistons2007-2008","san_antonio_spurs2007-2008","los_angeles_lakers2007-2008",
       "utah_jazz2006-2007","cleveland_cavaliers2006-2007","detroit_pistons2006-2007",
       "detroit_pistons2005-2006","dallas_mavericks2005-2006","phoenix_suns2005-2006",
       "phoenix_suns2004-2005","detroit_pistons2004-2005","miami_heat2004-2005",
       "indiana_pacers2003-2004","los_angeles_lakers2003-2004","minnesota_timberwolves2003-2004",
       "dallas_mavericks2002-2003","brooklyn_nets2002-2003","detroit_pistons2002-2003",
       "brooklyn_nets2001-2002","boston_celtics2001-2002","sacramento_kings2001-2002"]

decent = ["miami_heat2020-2021","boston_celtics020-2021","utah_jazz2020-2021","denver_nuggets2020-2021",
            "orlando_magic2019-2020","indiana_pacers2019-2020","philadelphia_76ers2019-2020","brooklyn_nets2019-2020","portland_pacers2019-2020","oklahoma_city_thunders2019-2020","utah_jazz2019-2020","dallas_mavericks2019-2020",
           "milwaukee_bucks2019-2020","toronto_raptors2019-2020","houston_rockets2019-2020","los_angeles_clippers2019-2020",
           "detroit_pistons2018-2019","indiana_pacers2018-2019","brooklyn_nets2018-2019","orlando_magic2018-2019","los_angeles_clippers2018-2019","utah_jazz2018-2019","oklahoma_city_thunder2018-2019","san_antonio_spurs2018-2019",
           "boston_celtics2018-2019","philadelphia_76ers2018-2019","houston_rockets2018-2019","denver_nuggets2018-2019",
           "washington_wizards2017-2018","indiana_pacers2017-2018","miami_heat2017-2018","milwaukee_bucks2017-2018","minnesota_timberwolves2017-2018","oklahoma_city_thunder2017-2018","portland_trail_blazers2017-2018","san_antonio_spurs2017-2018",
           "toronto_raptors2017-2018","philadelphia_76ers2017-2018","utah_jazz2017-2018","new_orleans_pelicans2017-2018",
           "chicago_bulls2016-2017","atlanta_hawks2016-2017","milwaukee_bucks2016-2017","indiana_pacers2016-2017","portland_trail_blazers2016-2017","los_angeles_clippers2016-2017","oklahoma_city_thunder2016-2017","memphis_grizzlies2016-2017",
           "washington_wizards2016-2017","toronto_raptors2016-2017","utah_jazz2016-2017","houston_rockets2016-2017",
            "detroit_pistons2015-2016","boston_celtics2015-2016","charlotte_hornets2015-2016","indiana_pacers2015-2016","houston_rockets2015-2016","los_angeles_clippers2015-2016","dallas_mavericks2015-2016","memphis_grizzlies",
           "atlanta_hawks2015-2016","miami_heat2015-2016","portland_trail_blazers2015-2016","san_antonio_spurs2015-2016",
           "brooklyn_nets2014-2015","toronto_raptors2014-2015","milwaukee_bucks2014-2015","boston_celtics2014-2015","new_orleans_pelicans2014-2015","portland_trail_blazers2014-2015","san_antonio_spurs2014-2015","dallas_mavericks2014-2015",
           "washington_wizards2014-2015","chicago_bulls2014-2015","memphis_grizzlies2014-2015","los_angeles_clippers2014-2015",
           "atlanta_hawks2013-2014","chicago_bulls2013-2014","toronto_raptors2013-2014","charlotte_hornets2013-2014","dallas_mavericks2013-2014","houston_rockets2013-2014","golden_state_warriors2013-2014","memphis_grizzlies2013-2014",
            "washington_wizards2013-2014","brooklyn_nets2013-2014","portland_trail_blazers2013-2014","los_angeles_clippers2013-2014",
           "milwaukee_bucks2012-2013","brooklyn_nets2012-2013","atlanta_hawks2012-2013","boston_celtics2012-2013","houston_rockets2012-2013","los_angeles_clippers2012-2013","denver_nuggets2012-2013","los_angeles_lakers2012-2013",
           "chicago_bulls2012-2013","new_york_knicks2012-2013","oklahoma_city_thunder2012-2013","golden_state_warriors2012-2013",
            "chicago_bulls2011-2012","atlanta_hawks2011-2012","orlando_magic2011-2012","new_york_knicks2011-2012","utah_jazz2011-2012","memphis_grizzlies2011-2012","denver_nuggets2011-2012","dallas_mavericks2011-2012",
            "philadelphia_76ers2011-2012","indiana_pacers2011-2012","los_angeles_clippers2011-2012","los_angeles_lakers2011-2012",
           "indiana_pacers2010-2011","chicago_bulls2010-2011","orlando_magic2010-2011","new_york_knicks2010-2011","philadelphia_76ers2010-2011","san_antonio_spurs2010-2011","denver_nuggets2010-2011","portland_trail_blazers2010-2011","new_orleans_pelicans2010-2011",
            "atlanta_hawks2010-2011","boston_celtics2010-2011","memphis_grizzlies2010-2011","los_angeles_lakers2010-2011",
            "chicago_bulls2009-2010","miami_heat2009-2010","milwaukee_bucks2009-2010","charlotte_hornets2009-2010","oklahoma_city_thunder2009-2010","denver_nuggets2009-2010","portland_trail_blazers2009-2010","dallas_mavericks2009-2010",
           "cleveland_cavaliers2009-2010","atlanta_hawks2009-2010","utah_jazz2009-2010","san_antonio_spurs2009-2010",
           "detroit_pistons2008-2009","miami_heat2008-2009","philadelphia_76ers2008-2009","chicago_bulls2008-2009","utah_jazz2008-2009","portland_trail_blazers2008-2009","san_antonio_spurs2008-2009","new_orleans_pelicans",
           "atlanta_hawks2008-2009","boston_celtics2008-2009","houston_rockets2008-2009","dallas_mavericks2008-2009",
           "atlanta_hawks2007-2008","washington_wizards2007-2008","toronto_raptors2007-2008","philadelphia_76ers2007-2008","denver_nuggets2007-2008","houston_rockets2007-2008","phoenix_suns2007-2008","dallas_mavericks2007-2008",
           "cleveland_cavaliers2007-2008","orlando_magic2007-2008","utah_jazz2007-2008","new_orleans_pelicans2007-2008",
            "orlando_magic2006-2007","miami_heat2006-2007","toronto_raptors2006-2007","washington_wizards2006-2007","dallas_mavericks2006-2007","houston_rockets2006-2007","denver_nuggets2006-2007","los_angeles_lakers2006-2007",
           "chicago_bulls2006-2007","brooklyn_nets2006-2007","golden_state_warriors2006-2007","phoenix_suns2006-2007",
           "milwaukee_bucks2005-2006","washington_wizards2005-2006","indiana_pacers2005-2006","chicago_bulls2005-2006","sacramento_kings2005-2006","memphies_grizzlies2005-2006","denver_nuggets2005-2006","los_angeles_lakers2005-2006",
           "cleveland_cavaliers2005-2006","brooklyn_nets","san_antonio_spurs2005-2006","los_angeles_clippers2005-2006",
           "brooklyn_nets2004-2005","chicago_bulls2004-2005","boston_celtics2004-2005","philadelphia_76ers2004-2005","memphis_grizzlies2004-2005","houston_rockets2004-2005","sacramento_kings2004-2005","denver_nuggets2004-2005",
           "washington_wizards2004-2005","indiana_pacers2004-2005","dallas_mavericks2004-2005","oklahoma_city_thunder2004-2005",
           "boston_celtics2003-2004","new_orleans_pelicans2003-2004","milwaukee_bucks2003-2004","new_york_knicks2003-2004","denver_nuggets2003-2004","dallas_mavericks2003-2004","memphis_grizzlies2003-2004","houston_rockets2003-2004",
           "miami_heat2003-2004","brooklyn_nets2003-2004","sacramento_kings2003-2004","san_antonio_spurs2003-2004",
            "orlando_magic2002-2003","new_orleans_pelicans2002-2003","indiana_pacers2002-2003","indiana_pacers2002-2003","milwaukee_bucks2002-2003","phoenix_suns2002-2003","minnesota_timberwolves2002-2003","portland_trail_blazers2002-2003","utah_jazz2002-2003",
           "philadelphia_76ers2002-2003","boston_celtics2002-2003","los_angeles_lakers2002-2003","sacramento_kings2002-2003",
           "indiana_pacers2001-2002","orlando_magic2001-2002","philadelphia_76ers2001-2002","toronto_raptors2001-2002","utah_jazz2001-2002","minnesota_timberwolves2001-2002","portland_trail_blazers2001-2002","oklahoma_city_thunder2001-2002",
           "charlotte_hornets2001-2002","detroit_pistons2001-2002","dallas_mavericks2001-2002","san_antonio_spurs2001-2002"]




print(len(champions),len(top4),len(decent))

20 60 234

# Now that our lists are loaded, we are ready to analyze our data and discover patterns to them

### 1) How position of "G" has evolved:
         i. Over the years in teams that succeeded
         ii. Over different success groups

In [23]:
payrolls[f"{team_names[29]}{years[7]}"]

              player_names  salary ($) position
0             Al Jefferson    13500000        -
1               Ben Gordon    13200000        -
2             Tyrus Thomas     8694215        -
3         Gerald Henderson     6000000        -
4   Michael Kidd-Gilchrist     4809840        -
5             Luke Ridnour     4320000        -
6              Cody Zeller     3857040        C
7                Gary Neal     3250000        -
8          Bismack Biyombo     3217680        C
9             Kemba Walker     2709720        G
10          Josh McRoberts     2652000        -
11           Jannero Pargo     1399507        -
12          Jeffery Taylor      788872        -
13   Chris Douglas-Roberts      535288        -
14       James Southerland      126870        -
15         Justin Hamilton       28834        -
16                  Totals    60395651      NaN